/* fonts */

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src:
		url(/public/fonts/montserrat.woff2) format("woff2"),
		url(/public/fonts/montserrat-regular.ttf) format("truetype");
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	/* TODO The network tab in Firefox shows the WOFF2 font as being downloaded twice. Is there a way to prevent this in CSS, or is this something that can be improved in Firefox? */
	src:
		url(/public/fonts/montserrat.woff2) format("woff2"),
		url(/public/fonts/montserrat-bold.ttf) format("truetype");
}

@font-face {
	font-family: "Noto Color Emoji";
	font-style: normal;
	font-weight: 400;
	/*
	 * I would've like to use 'optional' here, so that if the network connection is deemed too slow by the browser, don't bother swapping the font.
	 * Unfortunately, 'optional' is a little too aggressive, and the browser doesn't even bother trying (on Firefox at least).
	 */
	font-display: swap;
	/* Only provide WOFF2 for the emoji font, as the TrueType version is way too large (like over 20 MB). */
	src: url(/public/fonts/emoji.woff2) format("woff2");
}

body {
	--google-font-color-notocoloremoji:none;
}

/* default is light for the accessibility ting */

:root {
	--gradient: -webkit-linear-gradient(50deg, rgb(126, 119, 255), rgb(255, 34, 137));
	--background-colour: #ffffff;
	--title-colour: #000000;
	--text-colour: #000000;
	--muted-colour: #555555;
	--divider-colour: #ccc;
	--border-radius: 12px;
	--code-background: #eee;
	--accent-shadow-colour: rgba(183, 0, 255, 0.487);
	--section-max-width: 950px;
	--section-x-padding: 20px;
	--section-y-padding: 24px;

	/* syntax highlighting */

	--glyph-colour: #222;
	--keyword-colour: #8b00ff;
	--comment-colour: #788770;
	--literal-colour: #40f;
	--identifier-colour: #85006a;
}

@media (prefers-color-scheme: dark) {
	:root {
		--gradient: -webkit-linear-gradient(50deg, rgb(255, 79, 79), rgb(255, 52, 221));
		--background-colour: #000000;
		--title-colour: #ffffff;
		--text-colour: #dddddd;
		--muted-colour: #999999;
		--divider-colour: #666;
		--code-background: #111;
		--accent-shadow-colour: #ff00cc29;

		/* syntax highlighting */

		--glyph-colour: #a5a0bc;
		--keyword-colour: #ff65ca;
		--comment-colour: #4a4e45;
		--literal-colour: #9b92ff;
		--identifier-colour: #e7bdff;
	}
}

html {
	/* https://stackoverflow.com/questions/41506456/why-body-overflow-not-working */
	overflow: auto;
}

body {
	background-color: var(--background-colour);
	color: var(--text-colour);
	margin: 0;

	font-size: 20px;
	font-display: optional;
	font-family: "Montserrat", sans-serif, "Noto Color Emoji", sans-serif;
	word-break: break-word;
	overflow-x: hidden;
}

h1 {
	color: var(--title-colour);
	font-size: 70px;
	margin-block: 16px;
}

strong {
	background: var(--gradient);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
}

code {
	border-radius: 8px;
	background-color: var(--code-background);
}

.link code {
	background: none;
}

pre {
	border-radius: 8px;
	background-color: var(--code-background);
	padding: 16px;
	overflow-x: auto;
}

blockquote {
	border-left: 8px solid var(--muted-colour);
	padding-left: 16px;
	margin-inline: 0;
	font-style: italic;
}

.blog-container .table {
	margin-inline: calc(-1 * var(--section-x-padding));
	padding-inline: var(--section-x-padding);
	overflow-x: scroll;
}

table {
	margin-block: 16px;
	border-spacing: 0;
}

td, th {
	white-space: nowrap;
	padding-inline: 8px;
	padding-block: 2px;
}

th {
	border-bottom: 2px solid var(--divider-colour);
	padding-block: 8px;
	text-align: left;
}

table tr:first-child td {
	padding-top: 8px;
}

table td:last-child {
	width: 100%;
	white-space: wrap;
}

.inline-svg svg {
	width: 24px;
	margin: 4px;
	margin-bottom: -4px;
}

iframe {
	border: none;
	width: 100%;
	display: block;
}

a {
	text-decoration: none;
	color: var(--text-colour);
}

.link {
	color: var(--text-colour);
	font-weight: bold;

	background-image: var(--gradient);
	background-position: 0 1.1em;
	background-repeat: repeat-x;
	background-size: 8px 5px;
	transition: background-position 0.1s, color 0.2s;
}

.link:hover, .link:focus {
	color: var(--background-colour);

	background-image: var(--gradient);
	background-position: 0 0;
	background-repeat: repeat-x;
	background-size: 8px 5px;
}

/* The reason why we have this stupid two container thing is that we need the Y-axis overflow to be hidden on 'tab-content', as otherwise we'd be able to scroll around ('overflow' has no option to still show the content but not allow scrolling, because of course it doesn't). But since, of course, you can't hide the Y-axis overflow without also hiding the X-axis overflow, we need to move the X-axis padding that would've otherwise been on '.page-container' to '.tab-content'. So '.page-container' can only affect Y-axis padding, and we need an extra '.section-container' for X-axis padding. I despise CSS with passion. */

.section-container {
	max-width: var(--section-max-width);
	margin: auto;
	padding-inline: var(--section-x-padding);
}

.page-container {
	padding-block: var(--section-y-padding);
}

/* things */

.things {
	display: flex;
	justify-content: space-around;
	align-items: start;
	flex-wrap: wrap;
	padding-top: 16px;
	padding-bottom: 32px;
	padding-inline: 4px;
	row-gap: 12px;
}

.thing {
	max-width: 280px;
	margin: 16px;
	border-radius: var(--border-radius);
	transition: transform 0.1s ease-in-out, background 0.1s ease-in-out;
}

@media screen and (max-width: 1024px) {
	.thing {
		max-width: 308px;
	}
}

@media screen and (max-width: 768px) {
	.thing {
		max-width: 100%;
	}
}

@media screen and (max-width: 480px) {
	.things {
		padding-inline: 0;
	}

	.thing {
		margin-inline: 0;
	}
}

.thing p {
	margin-inline: 16px;
	margin-top: 32px;
	margin-bottom: 16px;

	/* text-align: justify; */
	font-size: 18px;
}

.thing:hover, .thing:focus-within {
	background: var(--code-background);
	transform: scale(105%);
}

.labeled-img {
	max-width: 100%;
	position: relative;
	transition: transform 0.1s ease-in-out;
}

.thing:hover .labeled-img, .thing:focus-within .labeled-img {
	transform: scale(105%);
}

.labeled-img div {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70%;
	background: linear-gradient(to bottom, transparent, black);
	border-radius: var(--border-radius);
}

.labeled-img div {
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
}

.labeled-img div div h2 {
	color: white;
	margin-inline: 32px;
}

.labeled-img div div svg {
	color: white;
	width: 24px;
	margin-left: -16px;
}

.labeled-img img {
	aspect-ratio: 8 / 5;
	object-fit: cover;
	width: 100%;
	border-radius: var(--border-radius);
}

.go-back {
	position: absolute;
	top: var(--section-y-padding);
	left: calc(var(--section-x-padding) / 2);
}

.learn-more, .go-back, .label {
	margin-inline: 16px;
	margin-bottom: 16px;
	padding: 4px;
	display: flex;
	align-items: center;
	border-radius: 4px;
	cursor: pointer;
	transition: background 0.1s ease-in-out;
}

.learn-more p, .go-back p {
	margin: 0;
}

.learn-more svg, .go-back svg {
	margin-right: 16px;
	width: 24px;
}

.learn-more:hover, .learn-more:focus,
.go-back:hover, .go-back:focus {
	background: var(--text-colour);
}

.learn-more p, .learn-more svg,
.go-back p, .go-back svg {
	font-weight: lighter;
	color: var(--muted-colour);
	transition: color 0.1s ease-in-out;
}

.thing:hover .learn-more p, .thing:hover .learn-more svg,
.thing:focus-within .learn-more p, .thing:focus-within .learn-more svg {
	font-weight: bold;
	color: var(--text-colour);
}

.learn-more:hover p, .learn-more:hover svg,
.learn-more:focus-within p, .learn-more:focus-within svg,
.go-back:hover p, .go-back:hover svg,
.go-back:focus-within p, .go-back:focus-within svg {
	color: var(--background-colour) !important;
}

/* socials */

.socials {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-block: 32px;
	padding-inline: 8px;
	column-gap: 24px;
	row-gap: 12px;
}

.social {
	padding: 4px;
	display: flex;
	align-items: center;
	border-radius: 4px;
	cursor: pointer;
	max-width: 48px;
	transition: background 0.1s ease-in-out, max-width 0.1s linear;
}

.social:hover, .social:focus {
	max-width: 300px;
	background: var(--text-colour);
	color: var(--background-colour);
}

.social p {
	text-wrap: nowrap;
	font-weight: bold;
	background: none;
	margin: 0;
	overflow: hidden;
	color: var(--background-colour);
}

.social svg {
	margin-right: 16px;
	width: 32px;
	height: 32px;
	min-width: 32px;
	min-height: 32px;
}

.social p, .social svg {
	transition: color 0.1s ease-in-out;
}

.social svg {
	color: var(--text-colour);
}

.social:hover p, .social:hover svg,
.social:focus p, .social:focus svg {
	color: var(--background-colour);
}

/* explanation pages */

.explanation-container {
	padding-inline: var(--section-x-padding);
	padding-block: var(--section-y-padding);
	gap: 64px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	max-width: 1600px;
	margin-inline: auto;
	min-height: 100vh;
	min-height: 100svh;
	box-sizing: border-box; /* so that min-height includes padding */
}

.explanation {
	max-width: 600px;
}

.exhibit {
	width: 800px;
	line-height: 0;
}

.exhibit iframe {
	border-radius: var(--border-radius);
	height: 100%;
	aspect-ratio: 8 / 5;
}

.exhibit video {
	border-radius: var(--border-radius);
	width: 100%;
}

.exhibit img {
	border-radius: var(--border-radius);
	width: 100%;
}

.exhibit canvas {
	border-radius: var(--border-radius);
	cursor: pointer;
	width: 100%;
	height: 100%;
	aspect-ratio: 8 / 5;
}

.image-grid {
	aspect-ratio: 1 / 1;
	height: 100%;
	display: grid;
	grid-template-areas:
		"karwa24 gj24"
		"gp22 gp22"
		"conf banquet23"
		"gp23 gp23"
		"karwa23 gimp"
		"trilogie trilogie"
	;
}

.image-grid img {
	border-radius: 0;
	width: 100%;
	max-width: 100%;
	border-radius: 0;
}

.exhibit .image-grid {
	overflow-y: auto;
	border-radius: var(--border-radius);
	width: 100%;
}

.presentation {
	aspect-ratio: 16 / 18; /* Two 16:9 thing stacked on top of each other. */
	height: 100%;
	padding: 0;
}

.presentation iframe {
	aspect-ratio: 16 / 9; /* XXX No clue why this thing isn't working. */
	height: 50%;
	border-radius: 0;
	margin: 0;
}

.exhibit .presentation {
	width: 100%;
	border-radius: var(--border-radius);
	overflow-y: hidden;
}

@media screen and (max-width: 1280px) {
	.image-grid {
		aspect-ratio: auto;
	}

	.explanation-container {
		padding-top: 64px;
	}
}

@media screen and (max-width: 768px) {
	.explanation-container {
		padding-bottom: 0;
	}

	.exhibit {
		min-width: 100vw;
		bottom: 0;
		position: relative;
	}

	.exhibit iframe, .exhibit canvas, .exhibit video, .exhibit .image-grid, .exhibit img, .exhibit .presentation {
		border-radius: 0;
		height: auto;
	}
}

/* blog */

.blog-container {
	padding-inline: var(--section-x-padding);
	padding-block: var(--section-y-padding);
	gap: 64px;
	max-width: 900px;
	margin-inline: auto;
	min-height: 100vh;
	min-height: 100svh;
	box-sizing: border-box; /* so that min-height includes padding */
}

.blog-container img {
	width: 600px;
	max-width: 100%;
	margin: auto;
	margin-block: 32px;
	display: block;
	border-radius: var(--border-radius);
}

.blog-container img + em {
	display: block;
	text-align: center;
	font-size: 16px;
	margin-top: -16px;
	color: var(--muted-colour);
}

.blog-title {
	font-size: 48px;
	margin-block: 32px;
}

.blog-tag {
	margin-top: 4px;
	font-size: 18px;
}

.blog-tag b {
	margin-right: 8px;
}

hr {
	border: 1px solid var(--divider-colour);
	margin-block: 32px;
}

@media screen and (max-width: 1280px) {
	.blog-container {
		padding-top: 64px;
	}
}

/* syntax highlighting */

.glyph {
	color: var(--glyph-colour);
}

.literal {
	color: var(--literal-colour);
}

.keyword {
	color: var(--keyword-colour);
	font-weight: bold;
}

.comment {
	color: var(--comment-colour);
}

.strong-identifier, .special-identifier, .identifier {
	color: var(--identifier-colour);
}

/* tabs */

.all-my-homies-hate-margin-collapsing {
	display: flex;
	flex-direction: column;
}

.tabs {
	margin-top: 32px;
	margin-bottom: 16px;
	display: flex;
	justify-content: center;
	gap: 32px;
}

#projects-tab-label, #articles-tab-label {
	font-weight: bold;
	color: var(--muted-colour);
	padding-bottom: 5px;
	cursor: pointer;
	box-shadow: inset 0 0 var(--text-colour);
	transform: translateY(2px);
	transition: box-shadow .2s, color .2s, transform .2s;
}

#projects-tab-input:checked ~ .tabs #projects-tab-label,
#articles-tab-input:checked ~ .tabs #articles-tab-label {
	transform: translateY(0px);
	color: var(--text-colour);
	box-shadow: inset 0 -4px var(--text-colour);
}

.tab-content {
	/* Have to do this stupid-ass hack because the padding must absolutely be applied in '.tab'. See the comment about 'overflow: hidden' above. */

	max-width: calc(var(--section-max-width) + 2 * var(--section-x-padding));
	margin: auto;
	position: relative;
}

/* CSS is making me loose braincells: https://stackoverflow.com/a/5072540 */

.tab {
	padding-inline: var(--section-x-padding);
	position: absolute;
	top: 0;
	overflow-y: hidden;
	/* 'transition-behavior: allow-discrete' with 'display: none' is broken on Firefox and Safari, so the best we can do is this. */
	height: 100%;
	transition: transform 0.5s, opacity 0.5s;
	opacity: 0%;
}

#projects-tab {
	transform: translateX(-100vw);
}

#articles-tab {
	transform: translateX(100vw);
}

#projects-tab-input:checked ~ .tab-content #projects-tab ,
#articles-tab-input:checked ~ .tab-content #articles-tab {
	position: relative;
	transform: translateX(0);
	opacity: 100%;
	display: block;
}

input[type="radio"] {
	display: none;
}
